<?xml version="1.0" encoding="shift_jis"?>
<SongList>
  <head>
    <title>ItunEsTooL_Configure</title>
  </head>
  <Default>
    <ErrorLogPath>%USERPROFILE%\Documents\ITunEsTooL\Log</ErrorLogPath>
    <XmlPath>%USERPROFILE%\DocumentsITunEsTooL\ITunesDataLibrary.xml</XmlPath>
    <DeleteArtwork>True</DeleteArtwork>
    <ArtworkPath>%USERPROFILE%\Documents\ITunEsTooL\ArtWork</ArtworkPath>
    <SaveArtworkName>2</SaveArtworkName>
    <SavePictureName>jpg</SavePictureName>
    <SmallArtworkSize>-300</SmallArtworkSize>
    <InCompilation>True</InCompilation>
    <BackupType>1</BackupType>
    <iTunesSync>False</iTunesSync>
    <TrackCount>0</TrackCount>
    <Color>SkyBlue</Color>
    <UpdateDate>なし</UpdateDate>
    <Review>True</Review>
    <AutoShutdown>False</AutoShutdown>
  </Default>
</SongList>