<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="Domain" value="http://itunestool.html.xdomain.jp/" />
    <add key="ErrorLogPath" value="C:\Program Files\ITunEsTooL\Log" />
    <add key="XmlPath" value="C:\Program Files\ITunEsTooL\ITunesDataLibrary.xml" />
    <add key="DeleteArtwork" value="True" />
    <add key="ArtworkPath" value="C:\Program Files\ITunEsTooL\ArtWork" />
    <add key="SaveArtworkName" value="2" />
    <add key="SavePictureName" value="jpg" />
    <add key="SmallArtworkSize" value="-300" />
    <add key="InCompilation" value="True" />
    <add key="BackupType" value="1" />
    <add key="iTunesSync" value="False" />
    <add key="TrackCount" value="0" />
    <add key="Color" value="SkyBlue" />
    <add key="UpdateDate" value="なし" />
    <add key="Review" value="True" />
    <add key="AutoShutdown" value="False" />
  </appSettings>    
</configuration>
